## Week 1 Homework

In this homework we'll prepare the environment 
and practice with terraform and SQL

In [1]:
import pandas as pd
from sqlalchemy import create_engine


engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

## Question 1. Google Cloud SDK

Install Google Cloud SDK. What's the version you have? 

To get the version, run `gcloud --version`

In [2]:
!gcloud --version

Google Cloud SDK 370.0.0
bq 2.0.73
core 2022.01.21
gsutil 5.6

## Google Cloud account 

Create an account in Google Cloud and create a project.

## Question 2. Terraform 

Now install terraform and go to the terraform directory (`week_1_basics_n_setup/1_terraform_gcp/terraform`)

After that, run

* `terraform init`
* `terraform plan`
* `terraform apply` 

Apply the plan and copy the output (after running `apply`) to the form

var.project
  Your GCP Project ID

  Enter a value: regal-creek-338617

google_storage_bucket.data-lake-bucket: Refreshing state... [id=dtc_data_lake_regal-creek-338617]

Note: Objects have changed outside of Terraform

Terraform detected the following changes made outside of Terraform since the last "terraform apply":

  # google_storage_bucket.data-lake-bucket has changed
  ~ resource "google_storage_bucket" "data-lake-bucket" {
        id                          = "dtc_data_lake_regal-creek-338617"
      + labels                      = {}
        name                        = "dtc_data_lake_regal-creek-338617"
        # (9 unchanged attributes hidden)


        # (2 unchanged blocks hidden)
    }


Unless you have made equivalent changes to your configuration, or ignored the relevant attributes using ignore_changes,
the following plan may include actions to undo or respond to these changes.

───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

Terraform used the selected providers to generate the following execution plan. Resource actions are indicated with the
following symbols:
  + create

Terraform will perform the following actions:

  # google_bigquery_dataset.dataset will be created
  + resource "google_bigquery_dataset" "dataset" {
      + creation_time              = (known after apply)
      + dataset_id                 = "trips_data_all"
      + delete_contents_on_destroy = false
      + etag                       = (known after apply)
      + id                         = (known after apply)
      + last_modified_time         = (known after apply)
      + location                   = "asia-south1"
      + project                    = "regal-creek-338617"
      + self_link                  = (known after apply)

      + access {
          + domain         = (known after apply)
          + group_by_email = (known after apply)
          + role           = (known after apply)
          + special_group  = (known after apply)
          + user_by_email  = (known after apply)

          + view {
              + dataset_id = (known after apply)
              + project_id = (known after apply)
              + table_id   = (known after apply)
            }
        }
    }

Plan: 1 to add, 0 to change, 0 to destroy.

Do you want to perform these actions?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to approve.

  Enter a value: yes

google_bigquery_dataset.dataset: Creating...
google_bigquery_dataset.dataset: Creation complete after 2s [id=projects/regal-creek-338617/datasets/trips_data_all]

Apply complete! Resources: 1 added, 0 changed, 0 destroyed.

## Prepare Postgres 

Run Postgres and load data as shown in the videos

We'll use the yellow taxi trips from January 2021:

```bash
wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv
```

You will also need the dataset with zones:

```bash 
wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
```

Download this data and put it to Postgres

## Question 3. Count records 

How many taxi trips were there on January 15?

Consider only trips that started on January 15.

select count(tpep_pickup_datetime) from public.yellow_taxi_trips  where tpep_pickup_datetime >= '2021-01-15' and tpep_pickup_datetime < '2021-01-16'

53024

In [3]:
c = pd.read_sql_query("select count(tpep_pickup_datetime) from public.yellow_taxi_trips where tpep_pickup_datetime >= '2021-01-15' and tpep_pickup_datetime < '2021-01-16'",con=engine)['count'].values[0]
print("Total number of trips on January 15: ",c)

Total number of trips on January 15:  53024

## Question 4. Average

Find the largest tip for each day. 
On which day it was the largest tip in January?

Use the pick up time for your calculations.
```sql
select extract( day from tpep_pickup_datetime) from public.yellow_taxi_trips where tip_amount in (select max(tip_amount) from public.yellow_taxi_trips) 

select tpep_pickup_datetime from public.yellow_taxi_trips where tip_amount in (select max(tip_amount) from public.yellow_taxi_trips) 
```

max tip = > 1140.44
date = > 2021-01-20 11:22:05


(note: it's not a typo, it's "tip", not "trip")

In [4]:
day = pd.read_sql_query("select tpep_pickup_datetime from public.yellow_taxi_trips where tip_amount in (select max(tip_amount) from public.yellow_taxi_trips where tpep_pickup_datetime>='2021-01-01' and tpep_pickup_datetime < '2021-02-01')  ",con=engine)['tpep_pickup_datetime'].values[0]
print("The largest tip of Januaary was on",day)

The largest tip of Januaary was on 2021-01-20T11:22:05.000000000

## Question 5. Most popular destination

What was the most popular destination for passengers picked up 
in central park on January 14?

Use the pick up time for your calculations.

Enter the zone name (not id). If the zone name is unknown (missing), write "Unknown"

In [5]:
#select all records of January 14
jan14 = pd.read_sql_query("select * from public.yellow_taxi_trips where tpep_pickup_datetime>='2021-01-14' and tpep_pickup_datetime < '2021-01-15'",con=engine)
print("Check if all records are of Jan 14")
display(jan14.sort_values('tpep_pickup_datetime').iloc[[0,-1]])
#select all zones
zones = pd.read_sql_query("select * from zones",con=engine)
#get location id of Central Park
centralParkcode=zones.query("Zone=='Central Park'").iloc[0]['LocationID']
#passengers picked up  in central park on January 14
centralParkPU = jan14.query(f"PULocationID=={centralParkcode}")
# frequency count of each Drop off location id 
maxDOLocationID = centralParkPU.groupby('DOLocationID').count().sort_values('index',ascending=False).index[0]
# get zone name
dest = zones.query(f"LocationID=={maxDOLocationID}").iloc[0]['Zone']
print("The most popular destination for passengers picked up in central park on January 14 : ",dest)

Check if all records are of Jan 14

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
4216,504418,2.0,2021-01-14 00:00:05,2021-01-14 00:13:45,1.0,4.75,1.0,N,107,7,2.0,15.5,0.5,0.5,0.0,0.0,0.3,19.3,2.5
52152,552717,2.0,2021-01-14 23:59:53,2021-01-15 00:07:01,1.0,1.80,1.0,N,24,239,1.0,8.0,0.5,0.5,2.5,0.0,0.3,14.3,2.5

The most popular destination for passengers picked up in central park on January 14 :  Upper East Side South

## Question 6. 

What's the pickup-dropoff pair with the largest 
average price for a ride (calculated based on `total_amount`)?

Enter two zone names separated by a slash

For example:

"Jamaica Bay / Clinton East"

If any of the zone names are unknown (missing), write "Unknown". For example, "Unknown / Clinton East".

In [6]:
trips = pd.read_sql_query('select * from yellow_taxi_trips',con=engine)

In [7]:
PU,DO = trips.groupby(['PULocationID','DOLocationID'])[['fare_amount']].mean().sort_values('fare_amount',ascending=False).index[0]
PU = zones.query(f'LocationID=={PU}').iloc[0]['Zone']
DO = zones.query(f'LocationID=={DO}').iloc[0]['Zone']
print(f"{PU}/{DO}")

Alphabet City/None